rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Allow read and write to all users (even if unauthenticated)
    match /{document=**} {
      allow read, write: if true;
    }
  }
}