rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Allow read access to all folders
    match /{allPaths=**} {
      allow read: if true;
    }
    
    // Restrict write access to default_images folder
    match /default_images/{image=**} {
      allow write: if false;
    }
    
    // Allow write access to other folders
    match /{folder}/{allPaths=**} {
      allow write: if folder != "default_images";
    }
  }
}